<!DOCTYPE html>
<html xml:lang="ru" lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="https://m-playstation.store/"/>
    <title>{%block title%}{%endblock%}</title>


    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="yes" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description"
          content="Купить SonyPlaystation 5. PlaySony это фирменный интернет-магазин, а также сеть магазинов, собственные склады, служба доставки. Но не в этом главное преимущество сотрудничества с нашей компанией. Мы являемся официальными представителями компании Sony и имеем все необходимые сертификаты на представляемую продукцию"/>
    <!--000-->
    <meta name="keywords"
          content="sony, sony-game.com, game, sonygame, sony game, купить пс5 в Москве, купить пс5 в Санкт Петербурге, купить пс5 Новосибирске, купить пс5 в Екатеринбурге, купить пс5 в Казане, купить сони  в Нижнем Новгороде, купить пс5 в Великом новгороде, купить пс5 в Челябинске, купить пс5 в Самаре, купить пс5 в Омске, купить пс5 в ростове на Дону, купить пс5, купить пс5 в Уфе, купить пс5 в Красноярске, купить  пс5 в Воронеже, купить пс5 в Перми, купить пс5 в Волгограде, купить пс5 в Краснодаре, купить пс5 в Са"/>


    <link rel="canonical" href="https://m-playstation.store"/>


    <link href="design/Market/css/jquery.fancybox.css" type="text/css" rel="stylesheet"/>
    <link href="design/Market/css/styles.css" type="text/css" rel="stylesheet"/>
    <link href="design/Market/css/animation/animation_ext.css" type="text/css" rel="stylesheet"/>
    <link href="design/Market/css/spectrum.css" type="text/css" rel="stylesheet"/>
    <link href="design/Market/css/template_styles.css" type="text/css" rel="stylesheet"/>
    <link href="design/Market/css/style.css" type="text/css" rel="stylesheet"/>
    <link href="design/Market/css/main.css" type="text/css" rel="stylesheet"/>
    <link href="design/Market/css/media.min.css" type="text/css" rel="stylesheet"/>


    <link href="design/Market/css/colors/yellow.css" type="text/css" rel="stylesheet"/>


    <link href="design/Market/tuning/style.css" type="text/css" rel="stylesheet"/>


    <script type="text/javascript" src="design/Market/js/jquery-1.8.3.min.js"></script>

    <!--<link rel="shortcut icon" href="design/Market/images/favicon.ico" type="image/x-icon" />-->
    <!--<link rel="apple-touch-icon" sizes="57x57" href="design/Market/images/favicon_57.png" />-->
    <!--<link rel="apple-touch-icon" sizes="72x72" href="design/Market/images/favicon_72.png" />-->
    <link rel="icon" type="image/png" href="/fav.png">
    <link rel="image_src" href="design/Market/images/color.png"/>
    <meta property="og:title" content="Фирменный магазин PlayStation®: консоли, игры, аксессуары и многое другое"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="design/Market/images/logo.png"/>
    <meta property="og:url" content="https://m-playstation.store/"/>
    <meta property="og:description"
          content="Купить SonyPlaystation 5. PlaySony это фирменный интернет-магазин, а также сеть магазинов, собственные склады, служба доставки. Но не в этом главное преимущество сотрудничества с нашей компанией. Мы являемся официальными представителями компании Sony и имеем все необходимые сертификаты на представляемую продукцию"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Фирменный магазин PlayStation®: консоли, игры, аксессуары и многое другое"/>
    <meta name="twitter:title" content="Фирменный магазин PlayStation®: консоли, игры, аксессуары и многое другое"/>
    <meta name="twitter:description"
          content="Купить SonyPlaystation 5. PlaySony это фирменный интернет-магазин, а также сеть магазинов, собственные склады, служба доставки. Но не в этом главное преимущество сотрудничества с нашей компанией. Мы являемся официальными представителями компании Sony и имеем все необходимые сертификаты на представляемую продукцию"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:image" content="design/Market/images/logo_color.png"/>

    <script type="text/javascript" src="design/Market/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="design/Market/js/jqModal.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.history.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="design/Market/js/equalize.min.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.alphanumeric.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.countdown-ru.js"></script>
    <script type="text/javascript" src="design/Market/js/jquery.ikSelect.js"></script>
    <script type="text/javascript" src="design/Market/js/sly.js"></script>
    <script type="text/javascript" src="design/Market/js/equalize_ext.js"></script>
    <script type="text/javascript" src="design/Market/js/spectrum.js"></script>


    <script type="text/javascript" src="js/ctrlnavigate.js"></script>


    <script src="design/Market/js/jquery-ui.min.js"></script>
    <script src="design/Market/js/ajax_cart.js"></script>


    <script src="js/baloon/js/baloon.js" type="text/javascript"></script>
    <link href="js/baloon/css/baloon.css" rel="stylesheet" type="text/css"/>


    <script src="js/autocomplete/jquery.autocomplete-min.js" type="text/javascript"></script>

    <style type="text/css"> /*Доработки*/
            .top-h-row .phone_wrap a {
                font-size: 18px;
            }
            .top-h-row .h-user-block .module-enter {
                font-size: 14px;
            }
         	@media (max-width: 500px) {
             body .catalog_block .catalog_item_wrapp, .wrapper_inner #content .catalog_block .catalog_item_wrapp:nth-child(3n), .wrapper_inner #content .catalog_block .catalog_item_wrapp:nth-child(4n), body .right_block.catalog .catalog_block .catalog_item_wrapp {
              width: 50%;
             }
         	}

         	.basket_fly #header .middle-h-row .center_block ul.menu {
    			width: 72%;
    			padding: 2px 0px 0px;
			}




    </style>

    <style>
            .autocomplete-suggestions{
            background-color: #ffffff;
            overflow: hidden;
            border: 1px solid #e0e0e0;
            overflow-y: auto;
            }
            #menu_item_l1mobile{display: none;}
            #menu_item_l1mobile a span{padding-left: 30px;}
            .autocomplete-suggestions .autocomplete-suggestion{cursor: default;}
            .autocomplete-suggestions .selected { background:#F0F0F0; }
            .autocomplete-suggestions div { padding:2px 5px; white-space:nowrap; }
            .autocomplete-suggestions strong { font-weight:normal; color:#3399FF; }




    </style>
    <script>
            $(function() {
                //  Автозаполнитель поиска
                $(".input_search").each(function() {
                    var el=$(this);
                    el.autocomplete({
                        serviceUrl:'ajax/search_products.php',
                        minChars:1,
                        noCache: false,
                        onSelect:
                        function(suggestion){
                            console.log(el);
                            el.closest('form').submit();
                        },
                        formatResult:
                        function(suggestion, currentValue){
                            var reEscape = new RegExp('(\\' + ['/', '.', '*', '+', '?', '|', '(', ')', '[', ']', '{', '}', '\\'].join('|\\') + ')', 'g');
                            var pattern = '(' + currentValue.replace(reEscape, '\\$1') + ')';
                            return (suggestion.data.image?"<img align=absmiddle src='"+suggestion.data.image+"'> ":'') + suggestion.value.replace(new RegExp(pattern, 'gi'), '<strong>$1<\/strong>');
                        }
                    });
                });
            });




    </script>
    <!--[if gte IE 9]>
    <style type="text/css">.basket_button, .button30, .icon {filter: none;}</style><![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L814G57J49"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L814G57J49');




    </script>

</head>
<body id="main">
<div class="wrapper h_color_white m_color_none front_page basket_fly head_type_1 banner_auto">
    <div class="header_wrap ">
        <header id="header">
            <div class="wrapper_inner">
                <table class="middle-h-row">
                    <tr>
                        <td class="logo_wrapp">
                            <div class="logo">
                                <a href="{{base_url}}"><img src="design/Market/images/new_logo_color.png"
                                                 alt="Фирменный магазин PlayStation®: консоли, игры, аксессуары и многое другое"
                                                 title="Фирменный магазин PlayStation®: консоли, игры, аксессуары и многое другое"/></a>
                                <a href="{{base_url}}" class="print_img"><img src="design/Market/images/logo_color.png"
                                                                   alt="Фирменный магазин PlayStation®: консоли, игры, аксессуары и многое другое"
                                                                   title="Фирменный магазин PlayStation®: консоли, игры, аксессуары и многое другое"/></a>
                            </div>
                        </td>
                        <td class="center_block">
                            <div class="main-nav">
                                <ul class="menu adaptive">
                                    <li class="menu_opener"><a>Меню</a><i class="icon"></i></li>
                                </ul>
                                <ul class="menu full">
                                    <li class="menu_item_l1  catalog">
                                        <a href="{{ base_url }}catalog/">
                                            <span>Каталог</span>
                                        </a>
                                        <div class="child cat_menu">
                                            <div class="child_wrapp">
                                                <ul class="">
                                                    <li class="menu_title"><a data-category="25"
                                                                              href="{{ base_url }}catalog/1">PlayStation
                                                        5</a></li>
                                                </ul>
                                                <ul class="">
                                                    <li class="menu_title"><a data-category="24"
                                                                              href="{{ base_url }}catalog/2">Аксессуары</a>
                                                    </li>
                                                </ul>
                                                <ul class="last">
                                                    <li class="menu_title"><a data-category="28"
                                                                              href="{{ base_url }}catalog/3">Игры
                                                        PS 4</a></li>
                                                </ul>
                                                <ul class="">
                                                    <li class="menu_title"><a data-category="31"
                                                                              href="{{ base_url }}catalog/4">Наборы
                                                        Playstatyon 5 </a></li>
                                                </ul>
                                                <ul class="">
                                                    <li class="menu_title"><a data-category="29"
                                                                              href="{{ base_url }}catalog/5">Игры
                                                        для VR®</a></li>
                                                </ul>
                                                <ul class="last">
                                                    <li class="menu_title"><a data-category="23"
                                                                              href="{{ base_url }}catalog/6">Подарочные
                                                        сертификаты</a></li>
                                                </ul>
                                                <ul class="">
                                                    <li class="menu_title"><a data-category="27"
                                                                              href="{{ base_url }}catalog/7">Игры
                                                        PS 5</a></li>
                                                </ul>
                                                <ul class="">
                                                    <li class="menu_title"><a data-category="26"
                                                                              href="{{ base_url }}catalog/8">PlayStation
                                                        4</a></li>
                                                </ul>
                                                <ul class="">
                                                    <li class="menu_title"><a data-category="32"
                                                                              href="{{ base_url }}catalog/9">Очки
                                                        виртуальной реальности</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="25"
                                           href="{{ base_url }}catalog/playstation-5"><span>PlayStation 5</span></a>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="24"
                                           href="{{ base_url }}catalog/aksessuary"><span>Аксессуары</span></a>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="28" href="{{ base_url }}catalog/igry-ps-4"><span>Игры PS 4</span></a>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="31" href="{{ base_url }}catalog/nabory-playstatyon-5-"><span>Наборы Playstatyon 5 </span></a>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="29"
                                           href="{{ base_url }}catalog/igry-dlya-vr"><span>Игры для VR®</span></a>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="23" href="{{ base_url }}catalog/podarochnye-sertifikaty"><span>Подарочные сертификаты</span></a>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="27" href="{{ base_url }}catalog/igry-ps-5"><span>Игры PS 5</span></a>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="26"
                                           href="{{ base_url }}catalog/playstation-4"><span>PlayStation 4</span></a>
                                    </li>
                                    <li class="menu_item_l1" id="menu_item_l1mobile">
                                        <a data-page="32" href="{{ base_url }}catalog/ochki-virtualnoj-realnosti"><span>Очки виртуальной реальности</span></a>
                                    </li>

                                    <li class="menu_item_l1">
                                        <a data-page="1" href="{{ base_url }}"><span>Главная</span></a>
                                    </li>


                                    <li class="menu_item_l1">
                                        <a data-page="3" href="{{ base_url }}rekvizity"><span>Реквизиты </span></a>
                                    </li>

                                    <li class="menu_item_l1">
                                        <a data-page="15" href="{{ base_url }}oplata"><span>Оплата</span></a>
                                    </li>

                                    <li class="menu_item_l1">
                                        <a data-page="17" href="{{ base_url }}dostavka"><span>Доставка</span></a>
                                    </li>

                                    <li class="menu_item_l1">
                                        <a data-page="18" href="{{ base_url }}garantiya"><span>Гарантия</span></a>
                                    </li>

                                    <li class="menu_item_l1">
                                        <a data-page="16" href="{{ base_url }}contact"><span>Контакты</span></a>
                                    </li>


                                    <li class="stretch"></li>
                                    <li class="search_row">
                                        <form action="{{ base_url }}catalog" class="search1">
                                            <input id="title-search-input4" class="search_field1 input_search"
                                                   type="text" name="keyword" value="" placeholder="Поиск товара"
                                                   autocomplete="off"/>
                                            <button id="search-submit-button" type="submit" class="submit"><i></i>
                                            </button>
                                            <div id="title-search4"></div>
                                        </form>
                                    </li>
                                </ul>
                                <div class="search_middle_block">
                                    <div id="title-search2" class="stitle_form">
                                        <form action="{{ base_url }}catalog">
                                            <div class="form-control1 bg">
                                                <input id="title-search-input2" type="text" name="keyword" value=""
                                                       size="40" class="text small_block input_search" maxlength="50"
                                                       autocomplete="off" placeholder="Поиск товара"/><input
                                                    type="submit" value="Поиск" class="button icon"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="search_block">
                                    <span class="icon"></span>
                                </div>
                                <script type="text/javascript">
                                        $(document).ready(function() {
                                            $(".main-nav .menu > li:not(.current):not(.menu_opener) > a").click(function(){
                                                $(this).parents("li").siblings().removeClass("current");
                                                $(this).parents("li").addClass("current");
                                            });
                                            $(".main-nav .menu .child_wrapp a").click(function(){
                                                $(this).siblings().removeClass("current");
                                                $(this).addClass("current");
                                            });
                                        });




                                </script>
                            </div>
                            <div class="middle_phone">
                                <div class="phones">
                                        <span class="phone_wrap">
                                            <span class="icons"></span>
                                            <span class="phone_text">
                                                <a rel="nofollow" href="tel:8 800 511 13 24">8 800 511 13 24</a>
                                            </span>
                                        </span>

                                </div>
                            </div>
                            <div class="search">
                                <div id="title-search" class="stitle_form">
                                    <form action="{{ base_url }}catalog">
                                        <div class="form-control1 bg" style="position: relative; right: -66px;">
                                            <input id="title-search-input" type="text" name="keyword" value="" size="40"
                                                   class="text small_block input_search" maxlength="50"
                                                   autocomplete="off" placeholder="Поиск по сайту"/><input name="s"
                                                                                                           type="submit"
                                                                                                           value="Поиск"
                                                                                                           class="button icon"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td class="basket_wrapp custom_basket_class front_page">
                            <div class="wrapp_all_icons">
                                <div class="header-cart" id="basket_line">
                                    <div class="basket_fly">
                                        <div class="wrap_cont">
                                            <div class="opener">
                                                <div onclick="location.href='{{base_url}}cart';" id="cart_informer"
                                                     class="basket_count small">

                                                    <a class="empty" href="{{base_url}}cart">
                                                        <div class="wraps_icon_block basket">
                                                            <div class="count">
            <span>
                <div class="items">
                    <div id="basket_count">{{basket|length}}</div>
				</div>
			</span>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </header>
    </div>


    <style type="text/css">
	.flexslider .light .banner_title {
    text-shadow: none;
    color: #0c0c0c;
}
.flexslider .light .banner_text {
	text-shadow: none;
	color: #4a4a4a;
	font-size: 16px;
}
@media screen and (max-width: 900px) {
  body .top_slider_wrapp .flexslider .slides li td.text * {
    width: 80%!important;
  }
}





    </style>



{% block content %}
{%endblock%}
<footer id="footer" class="main">
    <div class="footer_inner">
        <div class="wrapper_inner">
            <div class="footer_top">
                <div class="wrap_md">
                    <div class="iblock sblock">
                        <div class="subscribe-form_footer" id="subscribe-form_footer">
                            <div class="wrap_md">
                                <div class="wrap_bg iblock">
                                    <div class="wrap_text">
                                        <div class="wrap_icon iblock">
                                        </div>
                                        <div class="wrap_more_text iblock">
                                            Подписывайтесь<br/> на новости и акции
                                        </div>
                                    </div>
                                </div>
                                <div class="forms iblock">
                                    <form method="post" class="sform_footer box-sizing">
                                        <div class="wrap_md">
                                            <div class="email_wrap form-control iblock">
                                                <input type="email" name="subscribe_email" class="grey medium  "
                                                       required size="20" value="" placeholder="Оставьте свой e-mail"/>
                                            </div>
                                            <div class="button_wrap iblock">
                                                <input type="submit" name="subscribe" class="button medium"
                                                       value="Подписаться"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                                $(document).ready(function(){
                                    $("form.sform_footer").validate({
                                        rules:{ "sf_EMAIL": {email: true} }
                                    });
                                })




                    </script>

                    <div class="iblock phones">
                        <div class="wrap_md">
                            <div class="empty_block iblock"></div>
                            <div class="phone_block iblock">
                                        <span class="phone_wrap">
                                            <span class="icons"></span>
                                            <span><a rel="nofollow"
                                                     href="tel:8 800 511 13 24">8 800 511 13 24</a></span>
                                        </span>
                                <span class="order_wrap_btn">
                                            <span class="callback_btn jqModal"> </span>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="wrap_md">
                    <div class="iblock menu_block">
                        <div class="wrap_md">
                            <div class="iblock copy_block">
                                <div class="copyright">
                                    2021 &copy; Фирменный магазин PlayStation®: консоли, игры, аксессуары и многое
                                    другое.
                                </div>
                                <span class="pay_system_icons">
                                            <i title="MasterCard" class="mastercard"></i>
                                            <i title="Visa" class="visa"></i>
                                            <i title="mir" class="yandex_money"></i>
                                            <i title="maestro" class="webmoney"></i>
                                    <!--<i title="Qiwi" class="qiwi"></i>                                       -->
                                        </span>
                            </div>
                            <div class="iblock all_menu_block">
                                <div class="wrap_md submenu_top">
                                    <div class="menu_item iblock"><a href="{{ base_url }}dostavka">Доставка</a></div>
                                    <div class="menu_item iblock"><a href="{{ base_url }}blog/publichnaya-oferta">Оферта</a>
                                    </div>
                                    <div class="menu_item iblock"><a href="{{ base_url }}blog/konfidentsialnost">Конфиденциальность</a>
                                    </div>

                                </div>
                                <div class="wrap_md">
                                    <div class="iblock submenu_block">
                                        <ul class="submenu">


                                        </ul>
                                        <script>
                                                    $(".bottom_submenu ul.submenu li").click(function()
                                                    {
                                                        $(".bottom_submenu ul.submenu li").removeClass("selected");
                                                        $(this).addClass("selected");
                                                    });




                                        </script>
                                    </div>
                                    <div class="iblock submenu_block">
                                        <ul class="submenu">


                                        </ul>
                                        <script>
                                                    $(".bottom_submenu ul.submenu li").click(function()
                                                    {
                                                        $(".bottom_submenu ul.submenu li").removeClass("selected");
                                                        $(this).addClass("selected");
                                                    });




                                        </script>
                                    </div>
                                    <div class="iblock submenu_block">
                                        <ul class="submenu">


                                        </ul>
                                        <script>
                                                    $(".bottom_submenu ul.submenu li").click(function()
                                                    {
                                                        $(".bottom_submenu ul.submenu li").removeClass("selected");
                                                        $(this).addClass("selected");
                                                    });




                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iblock social_block">
                        <div class="wrap_md">
                            <div class="empty_block iblock"></div>
                            <div class="social_wrapper iblock">
                                <div class="recv" style="color:#545454;font-size: 12px;">
                                    <span> 107120, г Москва, улица Сергия Радонежского, 27стр.1</span><br>
                                    <span>ИНН/ОГРН:7709509922 /1037739909162 </span>
                                </div>
                            </div>
                        </div>

                        <!--                                 <div class="social" style="padding: 20px 0px 0px 0%;">
                                                                    <a href="http://vk.com/" target="_blank" >
                                                                        <img src="design/Market/images/svg/vk.svg" alt="ВКонтакте" title="ВКонтакте" />
                                                                    </a>
                                                                    <a href="http://www.facebook.com/" target="_blank">
                                                                        <img src="design/Market/images/svg/fb.svg" alt="Facebook" title="Facebook" />
                                                                    </a>
                                                                    <a href="http://www.instagram.com/" target="_blank">
                                                                        <img src="design/Market/images/svg/Instagram.svg" style="width:35px" alt="Instagram" title="Instagram" />
                                                                    </a>
                                                                    <a href="http://www.telegram.com/" target="_blank">
                                                                        <img src="design/Market/images/svg/telegram.svg" style="width:35px" alt="telegram" title="telegram" />
                                                                    </a>
                                                                    <a href="http://www.whatsapp.com/" target="_blank">
                                                                        <img src="design/Market/images/svg/whatsapp.svg" style="width:35px" alt="whatsapp" title="whatsapp" />
                                                                    </a>
                                                        </div> -->

                        <div id="bx-composite-banner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="content_new"></div>
<script type="text/javascript" src="design/Market/js/main.js"></script>

<script type="text/javascript">
            $().ready(function() {
                $('.callback_frame').jqm({trigger: '.callback_btn'}).addClass('show')
            });
            $().ready(function() {
                $('.enter_frame').jqm({trigger: '.avtorization-call'}).addClass('show')
            });




</script>

<div class="callback_frame popup jqmWindow">
    <div>
        <a href="#" class="close jqmClose"><i></i></a>
        <div class="form CALLBACK">
            <div class="form_head">
                <h2>Заказать звонок</h2>
            </div>
            <form method="POST" enctype="multipart/form-data" novalidate="novalidate">
                <div class="form_body s33">
                    <div class="form-control">
                        <label><span>Ваше имя&nbsp;<span class="star">*</span></span></label>
                        <input class="inputtext" type="text" name="name" required="" value="" aria-required="true"
                               data-format=".+" data-notice="Введите имя" class="form-control" placeholder="Имя"/>
                    </div>
                    <div class="form-control">
                        <label><span>Телефон&nbsp;<span class="star">*</span></span></label>
                        <input data-format=".+" class="phone" data-notice="Введите номер телефона" required="" value=""
                               aria-required="true" name="phone" maxlength="255" type="text" class="form-control"
                               placeholder="Телефон"/>
                    </div>
                    <div class="clearboth"></div>
                    <div class="clearboth"></div>
                </div>
                <div class="form_footer">
                    <div class="licence_block filter label_block">
                        <input id="licenses_popup" name="licenses_popup" required="" value="Y" aria-required="true"
                               type="checkbox">
                        <label for="licenses_popup">
                            Я согласен на <a href="/licenses_detail" target="_blank">обработку персональных данных</a>
                        </label>
                    </div>
                    <input class="button medium" value="Отправить" name="callback" type="submit">
                    <button type="reset" class="button medium transparent jqmClose" value="reset" name="web_form_reset">
                        <span>Закрыть</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="enter_frame popup jqmWindow2">
    <div id="wrap_ajax_auth">
        <a href="#" class="close jqmClose"><i></i></a>
        <div class="popup-intro">
            <div class="pop-up-title">Вход в личный кабинет</div>
        </div>
        <div>
            <div id="ajax_auth">
                <div class="auth_wrapp form-block">
                    <div class="wrap_md">
                        <div class="main_info iblock">
                            <div class="form-wr">
                                <form method="post" target="_top" action="{{ base_url }}user/login"
                                      novalidate="novalidate">
                                    <div class="r form-control bg">
                                        <label class="" for="USER_LOGIN_POPUP">Email <span class="star">*</span></label>
                                        <input id="USER_LOGIN_POPUP" class="required" maxlength="50" name="email"
                                               data-format="email" data-notice="Введите email" value="" maxlength="255"
                                               placeholder="Логин" autocomplete="on" tabindex="1" aria-required="true"
                                               type="text">
                                    </div>
                                    <div class="r form-control bg">
                                        <label class="" for="USER_PASSWORD_POPUP">Пароль <span
                                                class="star">*</span></label>
                                        <input name="password" data-format=".+" data-notice="Введите пароль" value=""
                                               id="USER_PASSWORD_POPUP" class="required" maxlength="50"
                                               placeholder="Пароль" tabindex="2" aria-required="true" type="password">
                                    </div>
                                    <div class="but-r cleaarboth">
                                        <div class="filter block">
                                            <a class="forgot" href="{{ base_url }}user/password_remind" tabindex="3">Забыли
                                                пароль?</a>
                                        </div>
                                        <div class="buttons">
                                            <input type="submit" class="button vbig_btn wides" name="login" tabindex="4"
                                                   value="Войти">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="iblock socserv">
                            <!--noindex--><a href="{{ base_url }}user/register" rel="nofollow"
                                             class="button transparent vbig_btn wides"
                                             tabindex="6">Зарегистрироваться</a><!--/noindex-->
                            <div class="more_text_small">
                                После регистрации на сайте вам будет доступно отслеживание состояния заказов, личный
                                кабинет и другие новые возможности.
                            </div>
                        </div>
                    </div>
                    <div class="reg-new">
                        <div class="soc-avt">
                            Войти как пользователь
                            <div class="row clearfix">
                                <!-- Ulogin -->
                                <script src="https://ulogin.ru/js/ulogin.js"></script>
                                <div id="uLogin"
                                     data-ulogin="display=panel;fields=first_name,last_name,email,phone,city;providers=vkontakte,mailru,facebook,google,twitter;hidden=other;redirect_uri=https://m-playstation.store/user/login"></div>
                                <!-- end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<noscript>
    <div><img src="https://mc.yandex.ru/watch/84901174" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>

<script src="//code-ya.jivosite.com/widget/rmhiJ5tURs" async></script>

</body>
</html><!--
memory peak usage: 1562784 bytes
page generation time: 0.1113429069519 seconds

