{% extends 'patterns/__header__footer.html' %}

{% block title %}Каталог{% endblock %}

{% block content%}
<div class="wrapper_inner">
    <section class="middle">
        <div class="container">
            <div class="breadcrumbs" id="navigation" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope=""
                     itemtype="http://schema.org/ListItem">
                    <a href="/" title="Главная" itemprop="item">
                        <span itemprop="name">
                            Главная
						</span>
                        <meta itemprop="position" content="1">
                    </a>
                </div>
                <span class="separator">-</span>
                <div class="bx-breadcrumb-item" itemprop="itemListElement" itemscope=""
                     itemtype="http://schema.org/ListItem">
                    <a href="{{base_url}}catalog/" title="Каталог" itemprop="item">
                        <span itemprop="name">
                            Каталог
						</span>
                        <meta itemprop="position" content="2">
                    </a>
                </div>
            </div>
            <!--title_content-->

            <h1 id="pagetitle"></h1>
            <!--end-title_content-->
            <div id="content">

                <div class="left_block catalog vertical" style="margin-top:0px;">
                    <div class="internal_sections_list">
                        <div class="title opened">
                            <div class="inner_block">Каталог
                                <span class="hider opened"></span>
                            </div>
                        </div>
                        <ul class="sections_list_wrapp">
                            {% for category in categories%}
                            <li class="item  " data-id="{{category.id}}">
                                <a data-category="{{category.id}}" href="{{base_url}}catalog/{{category.id}}"><span>{{category.name}}</span></a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>

                    <script>
        $(".internal_sections_list").ready(function(){
            $(".internal_sections_list .title .inner_block").click(function(){
                $(this).find('.hider').toggleClass("opened");
                $(this).closest(".internal_sections_list").find(".title").toggleClass('opened');
                $(this).closest(".internal_sections_list").find(".sections_list_wrapp").slideToggle(200);
                $.cookie.json = true;
                $.cookie("MSHOP_internal_sections_list_HIDE", $(this).find('.hider').hasClass("opened"),{path: '/',	domain: '',	expires: 360});
			});
            if($.cookie("MSHOP_internal_sections_list_HIDE") == 'false'){
                $(".internal_sections_list .title").removeClass("opened");
                $(".internal_sections_list .title .hider").removeClass("opened");
                $(".internal_sections_list .sections_list_wrapp").hide();
			}
            $('.left_block .internal_sections_list li.item a.parent').click(function(e) {
                e.preventDefault();
                $(this).parent().find('.child_container').slideToggle();
			});
		});




                    </script>

                </div>

                <div class="right_block clearfix catalog" id="right_block_ajax">
                    <div class="inner_wrapper">
                        <div class="adaptive_filter">
                            <a class="filter_opener"><i></i><span>Фильтр</span></a>
                        </div>
                        <script type="text/javascript">
                            $(".filter_opener").click(function(){
                                $(this).toggleClass("opened");
                                var $parent = $(".bx_filter_vertical, .bx_filter").parent();
                                if($parent.is('[id^="bx_incl_area"]')){
                                    $parent.show();
								}
                                $(".bx_filter_vertical, .bx_filter").slideToggle(333);
							});




                        </script>

                        <div class="ajax_load block">
                            <table class="module_products_list">
                                <tbody class="table_list">
                                <script>
                                    function addToBasket(product_id) {
                                        var count = document.getElementById("product"+product_id).value;
                                        fetch('{{base_url}}api?action=addbasket&id='+product_id+'&count='+count)
                                        var basket_count = Number(document.getElementById("basket_count").textContent);
                                        document.getElementById("basket_count").innerHTML = Number(basket_count+1);
                                    }
                                </script>
                                {%for product in products %}
                                <tr class="item main_item_wrapper product">
                                    <td class="foto-cell">
                                        <div class="image_wrapper_block image">
                                            <a class="popup_image fancy"
                                               href="{{base_url}}products/{{product.id}}"
                                               title="{{product.name}}">
                                                <img src="{{product.photo}}"
                                                     alt="{{product.name}}"
                                                     title="{{product.name}}">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="item-name-cell">
                                        <a data-product="137"
                                           href="{{base_url}}products/{{product.id}}">{{product.name}}</a>
                                        <div class="item-stock"><span class="icon stock"></span><span class="value">В наличии</span>
                                        </div>
                                    </td>

                                    <td class="price-cell">
                                        <div class="cost prices clearfix">
                                            <div class="price">
                                                <span class="values_wrapper">{{product.price}} руб.</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="but-cell item_202">
                                        <form class="variants" action="cart">
                                            <input id="featured_279" name="variant" value="279" type="radio"
                                                   class="variant_radiobutton" checked="" style="display:none;">
                                            <div class="counter_wrapp ">
                                                <div class="counter_block" style="height: 26px;">
                                                    <span class="minus">-</span>
                                                    <input class="text" id="product{{product.id}}" name="amount" value="1" type="text">
                                                    <span class="plus">+</span>
                                                </div>
                                                <div onclick="addToBasket('{{product.id}}')" class="button_block " style="margin-right:20px;">
                                                    <input type="submit" class="small to-cart button"  value="в корзину"
                                                           data-result-text="добавлено">
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                {%endfor%}

                                </tbody>
                            </table>
                            <div class="display_list">


                            </div>

                            <div class="group_description_block bottom">
                                <div>
                                    <p>


                                    </p>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>


                <script type="text/javascript">
    $(document).ready(function(){
        $('.tab_slider_wrapp.s_CxqOHg .tabs > li').first().addClass('cur');
        $('.tab_slider_wrapp.s_CxqOHg .slider_navigation > li').first().addClass('cur');
        $('.tab_slider_wrapp.s_CxqOHg .tabs_content > li').first().addClass('cur');
        var flexsliderItemWidth = 210;
        var flexsliderItemMargin = 20;
        var sliderWidth = $('.tab_slider_wrapp.s_CxqOHg').outerWidth();
        var flexsliderMinItems = Math.floor(sliderWidth / (flexsliderItemWidth + flexsliderItemMargin));
        $('.tab_slider_wrapp.s_CxqOHg .tabs_content > li.cur').flexslider({
            animation: 'slide',
            selector: '.tabs_slider .catalog_item',
            slideshow: false,
            animationSpeed: 600,
            directionNav: true,
            controlNav: false,
            pauseOnHover: true,
            animationLoop: true,
            itemWidth: flexsliderItemWidth,
            itemMargin: flexsliderItemMargin,
            minItems: flexsliderMinItems,
            controlsContainer: '.tabs_slider_navigation.cur',
            start: function(slider){
                slider.find('li').css('opacity', 1);
            }
        });
        $('.tab_slider_wrapp.s_CxqOHg .tabs > li').on('click', function(){
            if(!$(this).hasClass('active')){
                var sliderIndex = $(this).index();
                $(this).addClass('active').addClass('cur').siblings().removeClass('active').removeClass('cur');
                $('.tab_slider_wrapp.s_CxqOHg .slider_navigation > li:eq(' + sliderIndex + ')').addClass('cur').show().siblings().removeClass('cur');
                $('.tab_slider_wrapp.s_CxqOHg .tabs_content > li:eq(' + sliderIndex + ')').addClass('cur').siblings().removeClass('cur');
                if(!$('.tab_slider_wrapp.s_CxqOHg .tabs_content > li.cur .flex-viewport').length){
                    $('.tab_slider_wrapp.s_CxqOHg .tabs_content > li.cur').flexslider({
                        animation: 'slide',
                        selector: '.tabs_slider .catalog_item',
                        slideshow: false,
                        animationSpeed: 600,
                        directionNav: true,
                        controlNav: false,
                        pauseOnHover: true,
                        animationLoop: true,
                        itemWidth: flexsliderItemWidth,
                        itemMargin: flexsliderItemMargin,
                        minItems: flexsliderMinItems,
                        controlsContainer: '.tabs_slider_navigation.cur',
                    });
                }
                $(window).resize();
            }
        });
        $(window).resize(function(){
            var sliderWidth = $('.tab_slider_wrapp.s_CxqOHg').outerWidth();
            $('.tab_slider_wrapp.s_CxqOHg .tabs_content > li.cur').css('height', '');
            $('.tab_slider_wrapp.s_CxqOHg .tabs_content .tab.cur .tabs_slider .buttons_block').hide();
            $('.tab_slider_wrapp.s_CxqOHg .tabs_content > li.cur').equalize({children: '.item-title'});
            $('.tab_slider_wrapp.s_CxqOHg .tabs_content > li.cur').equalize({children: '.item_info'});
            $('.tab_slider_wrapp.s_CxqOHg .tabs_content > li.cur').equalize({children: '.catalog_item'});
            var itemsButtonsHeight = $('.tab_slider_wrapp.s_CxqOHg .tabs_content .tab.cur .tabs_slider li .buttons_block').height();
            var tabsContentUnhover = $('.tab_slider_wrapp.s_CxqOHg .tabs_content .tab.cur').height() * 1;
            var tabsContentHover = tabsContentUnhover + itemsButtonsHeight+50;
            $('.tab_slider_wrapp.s_CxqOHg .tabs_content .tab.cur').attr('data-unhover', tabsContentUnhover);
            $('.tab_slider_wrapp.s_CxqOHg .tabs_content .tab.cur').attr('data-hover', tabsContentHover);
            $('.tab_slider_wrapp.s_CxqOHg .tabs_content').height(tabsContentUnhover);
        });
        $(window).resize();
        $(document).on({
            mouseover: function(e){
                var tabsContentHover = $(this).closest('.tab').attr('data-hover') * 1;
                $(this).closest('.tab').fadeTo(100, 1);
                $(this).closest('.tab').stop().css({'height': tabsContentHover});
                $(this).find('.buttons_block').fadeIn(450, 'easeOutCirc');
            },
            mouseleave: function(e){
                var tabsContentUnhoverHover = $(this).closest('.tab').attr('data-unhover') * 1;
                $(this).closest('.tab').stop().animate({'height': tabsContentUnhoverHover}, 100);
                $(this).find('.buttons_block').stop().fadeOut(233);
            }
        }, '.s_CxqOHg .tabs_slider li');
    })




                </script>
                <script type="text/javascript">
    /*$(".sort_filter a").on("click", function(){
        if($(this).is(".current")){
        $(this).toggleClass("desc").toggleClass("asc");
        }
        else{
        $(this).toggleClass("desc").toggleClass("asc");
        $(this).addClass("current").siblings().removeClass("current");
        }
    });*/
    $(".sort_display a:not(.current)").on("click", function() {
        $(this).addClass("current").siblings().removeClass("current");
    });
    $(".number_list a:not(.current)").on("click", function() {
        $(this).addClass("current").siblings().removeClass("current");
    });




                </script>
            </div>
        </div>
    </section>
</div>
</div>
{%endblock%}